<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Registrar Prenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="custom-card">
    <ion-card-header class="ion-text-center">
      <ion-card-title>👗 Agregar Nueva Prenda</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="shirt-outline"></ion-icon> Nombre de la Prenda
              </ion-label>
              <ion-input [(ngModel)]="nuevaPrenda.nombre" placeholder=""></ion-input>
            </ion-item>
            <ion-text color="medium">Ingrese un nombre descriptivo, por ejemplo: Blazer de Seda.</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="brush-outline"></ion-icon> Diseñador
              </ion-label>
              <ion-input [(ngModel)]="nuevaPrenda.disenador" placeholder=""></ion-input>
            </ion-item>
            <ion-text color="medium">Ingrese el nombre del diseñador de la prenda.</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="calendar-outline"></ion-icon> Año de Colección
              </ion-label>
              <ion-input type="number" [(ngModel)]="nuevaPrenda.anioColeccion" placeholder="Ej: 2024"></ion-input>
            </ion-item>
            <ion-text color="medium">Año en el que la prenda fue lanzada.</ion-text>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="cash-outline"></ion-icon> Precio ($)
              </ion-label>
              <ion-input type="number" [(ngModel)]="nuevaPrenda.precio" placeholder="Ej: 1500"></ion-input>
            </ion-item>
            <ion-text color="medium">Ingrese el precio ($).</ion-text>
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
          <ion-col size="12">
            <ion-button expand="full" color="success" (click)="registrarPrenda()" class="custom-button">
              <ion-icon name="add-circle" slot="start"></ion-icon> Registrar Prenda
            </ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row class="ion-text-center">
          <ion-col size="12">
            <ion-button expand="full" color="medium" (click)="irAMenu()">
              <ion-icon name="arrow-back-outline" slot="start"></ion-icon> Volver al Menú
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>