<ion-header>
  <ion-toolbar>
    <ion-title>Inventario de Prendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="ordenar()">Ordenar por Año</ion-button>
  <ion-input placeholder="Buscar por diseñador" [(ngModel)]="disenador"></ion-input>
  <ion-button (click)="buscar()">Buscar</ion-button>
  <ion-list>
    <ion-item *ngFor="let prenda of inventario">
      <ion-label>
        <h2>{{ prenda.nombre }}</h2>
        <p>{{ prenda.disenador }} - {{ prenda.anioColeccion }} - ${{ prenda.precio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Valor total: ${{ valorTotal }}</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>